<BsModal @size="sm"
         @fade={{false}}
         @position="center" as |modal|>
  <modal.header>
    <h4>Create a new bill</h4>
  </modal.header>
  <modal.body>
    <BsForm @model={{this.newBill}} @onSubmit={{action "createBill"}} as |form|>
      <form.element @property="name" @controlType="text" @label="Name" />
      <form.element @property="amount" @controlType="number" @label="Amount" />
      <BsButton @defaultText="Submit" @type="primary" @buttonType="submit" class="float-right" />
    </BsForm>
  </modal.body>
</BsModal>
