.places {
  margin: 0 50px;

  &__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__table {
    background-color: $gray;
    display: flex;
    flex-wrap: wrap;
  }

  &__table-cell {
    background-color: $white;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 3px;
    text-align: center;
    width: 25%;

    &--header {
      background-color: $gray;
      font-weight: 700;
    }
  }
}
