.place {
  &__users {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    align-items: center;
    display: flex;
    font-size: 22px;
    justify-content: center;
  }
}

.cell {
  cursor: pointer;

  &--paid {
    color: green;
  }

  &--wait {
    color: red;
  }

  &--sending {
    color: orange;
  }
}
