.place {
  &__users {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    align-items: center;
    display: flex;
    font-size: 22px;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__nav-arrow {
    margin: 0 7px;
  }
}

.cell {
  cursor: pointer;

  &--paid {
    color: green;
  }

  &--wait {
    color: red;
  }

  &--sending {
    color: orange;
  }
}
