.place {
  &__users {
    display: flex;
    flex-direction: column;
  }

  &__user {

  }
}

.cell {
  cursor: pointer;

  &--paid {
    color: green;
  }

  &--wait {
    color: red;
  }

  &--sending {
    color: orange;
  }
}
