<div class="row justify-content-center">
  <div class="col-4">
    {{#bs-form model=this onSubmit=(action "authenticate") as |form|}}
      {{form.element controlType="identification" label="Identificator" placeholder="Email or username" property="identification"}}
      {{form.element controlType="password" label="Password" placeholder="Password" property="password"}}
      {{bs-button defaultText="Login" type="outline-success" block=true buttonType="submit"}}
    {{/bs-form}}
  </div>
</div>
